<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Add Product</h1>

    <form action="/add" method="post">
        <input name="name" placeholder="Name">
        <input name="price" placeholder="Price">
        <input name="category" placeholder="Category">
        <input name="description" placeholder="Description">
        <input name="stock" placeholder="Stock">
        <input name="imageUrl" placeholder="Image URL">
        <button>Add</button>
    </form>
</div>

</body>
</html>