<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">ShopEasy</a>
    <div>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
    </div>
</nav>

<h2 style="text-align:center;">Your Cart</h2>

<div th:if="${#lists.isEmpty(cart)}" style="text-align:center;">
    <p>Cart is empty</p>
</div>

<div class="cart-container">
    <div class="cart-item" th:each="p : ${cart}">
        <img th:src="@{'/images/' + ${p.imageUrl}}" width="100">

        <div>
            <h3 th:text="${p.name}"></h3>
            <p th:text="${p.price} + ' PKR'"></p>

            <div>
                <a th:href="@{'/decrease/' + ${p.id}}">➖</a>
                <span th:text="${p.quantity}"></span>
                <a th:href="@{'/increase/' + ${p.id}}">➕</a>
            </div>

            <a th:href="@{'/remove/' + ${p.id}}" style="color:red;">Remove</a>
        </div>
    </div>
</div>

<h3 style="text-align:center;">
    Total: <span th:text="${total}"></span> PKR
</h3>

<div style="text-align:center;">
    <a href="/" class="btn">Continue Shopping</a>
</div>

</body>
</html>