<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">ShopEasy</a>
</nav>

<div class="auth-box">
    <h2>Login</h2>

    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <p>Don't have an account? <a href="/signup">Signup</a></p>
</div>

</body>
</html>