<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <a href="/">ShopEasy</a>
    <div>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
    </div>
</nav>

<div class="details-container">

    <img th:src="@{'/images/' + ${product.imageUrl}}" width="300">

    <div>
        <h2 th:text="${product.name}"></h2>
        <p th:text="${product.description}"></p>
        <h3 th:text="${product.price} + ' PKR'"></h3>

        <a th:href="@{'/add-to-cart/' + ${product.id}}" class="btn">
            Add to Cart
        </a>
    </div>

</div>

</body>
</html>